<div class ="col-sm-8 col-sm-offset-2 mx-auto">
<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.full_messages.any? %>
    <% @restaurant.errors.full_messages.each do |msg| %>
      <p class = "text-danger"><%= msg  %></p>
      <% end %>
    <% end %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :address %>
  <%= f.text_field :address, class: "form-control" %>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number, class: "form-control" %>
  <%= f.label :category %>
  <%= f.text_field :category, class: "form-control" %>
  <%= f.submit class: "btn btn-primary mb-2"%>
<% end %>
</div>